*.class
soap2/build/
soap2/.idea/
soap2/.gradle/
soap/build/
soap/.idea/
soap/.gradle/
30days/build/
30days/.idea/
30days/.gradle/
basicprogramming/build/
basicprogramming/.idea/
basicprogramming/.gradle/
Java/build/
Java/.idea/
Java/.gradle/
javaLearn/build/
javaLearn/.idea/
javaLearn/.gradle/
.idea
.git
